
@import url('https://fonts.cdnfonts.com/css/gotham');
*{
    margin: 0;
    padding: 0;
    font-family: 'Gotham', sans-serif;
    box-sizing: border-box;
}
/* top-nav-section */
.nav{
    display: flex;
    position: fixed;
    overflow-y:scroll;
    overflow-x: hidden;
    top: 0;
background-color:white;
width: 100vw;
z-index: 10; 
}

.EV-logo{
    margin-left: 20px;
    margin-top: 25px;
}
.icon-location{
    margin-top: 20px;
    margin-left: 30px;
}
.address{
    margin: 20px;
    margin-left: 5px;
    
}
.address h2{
    margin: 0px;
}
.address p{
    margin: 0px;
}
.content ul{
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
    
}
.content ul a{
    padding: 7px;
    font-size: 15px;
    text-decoration: none;
    color: black; 
}
.content ul a:hover{
    background: #add;
    color: #47AF71;
}
.icon-search{
    margin-top: 35px;
    width: 20px;
    height: 20px;
    margin-left: 450px;
    font-size: 20px;
    opacity: 0.5;
} 
/* body section */
 .video-container video {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
  }
.content1{
    position: absolute;
    top: 55%;
    text-align: center;
    color:white;
    font-size: 40px;
    left: 30%;
}

.content1 h2 span{
    color: #47AF71;
    font-size: 50px;   
}

.content1 p{
    margin: 0;
    font-size: 25px;
}

.video-container .my-button{
    background-color: #47AF71;
    height: 50px;
    width: 280px;
   
    border-radius: 10px;
    margin-top: 75px;
    
}
.my-button p{
    color: white;
    font-size: 20px;
}
.Info-section{
    text-align: center;
}
.Info-section h1{

    padding-top: 50px;
}
.Info-section ul{
    padding-top: 15px;
}
.nev2 ul a{
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.nev2 ul a:hover{
    background: #add;
    color: #47AF71;
}
.container1{
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 10px;
}
.swiper{
    width: 100%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #FFFFFF;
}
.swiper .swiper-pagination-bullet-active{
    background: white;
}

.compare-button{
    border-style: solid black;
    height: 35px;
    width: 150px;
    text-align: center;
    margin-left: 575px;
    border-radius: 10px;
    margin-top: 30px;
}
/* buttom-nav-section */
.buttom-nev-bar{
    background-color: black;
    width: 100%;
    height: 150px;
    margin-top: 40px;
    display: flex;
    padding: 10px;
}
.nav-list ul {
    padding-top: 25px;
    
  }
  
  .nav-list li a {
    padding: 15px;
    color:white;
    text-decoration: none;
  }

  .logo-EV{
    padding: 10px;
    margin-left: 455px;
    margin-top: 30px;
  }
  .logo-EV img{
    height: 40px;
    width: 160px;
  }
  .CR{

    margin-top: 20px;
    color: white;
    margin-left: 5px;
    font-size: 13px;
  }

  .social-media-icons{
    margin-left: 350px;
    margin-top: 30px;
    size: 10px;
  }
  .social-media-icons img{
    padding: 5px;
  }
  .social-media-icons h4{
    color: white;
    margin-left: 8px;
  }
  .social-media-icons p{
    color: white;
    font-size: 12px;
    margin: 5px 8px;
  }
  
